@using BasicWebsite;
@using reader = BasicWebsite.RecordingsReader;

@{
    Layout = null;
    reader.InitFromFile();
    reader.InitVersion2();
    reader.InitFileLinks();
    var baseLink = "http://podarimiistoria.net/knigi_zip/";
    var showLinks = true;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Библиотека на проекта "Подари ми история"</h1>
                <p>Библиотеката съдържа общо @reader.FileData.Count звукови записа на произведения записани и дарени от доброволци за незрящи хора</p>
            </div>
            <div class="col-md-12">
                <label for="search">Търси в библиотеката</label>
                <input type="text" id="search" />
                <input type="button" id="searchTrigger" value="Търси" />
                <input type="button" id="searchCleaner" value="Изчисти Търсенето" style="display:none" />
                <div id="count"></div>
            </div>
            <div class="col-md-9">

                @foreach ( var item in BasicWebsite.RecordingsReader.FileData ) {
                    //<li>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @if ( showLinks ) {
                                <a href="@baseLink@reader.RecordingLinks[item.Number]">
                                    @item.Lines[0] @item.Lines[1]
                                </a>
                            } else {
                                    @item.Lines[0] @item.Lines[1]
                            }
                            
                            @foreach ( var row in item.Lines.Skip( 2 ) ) {
                                <div>@row</div>
                            }
                        </div>
                    </div>

                    //</li>
                }


            </div>
            <div class="col-md-3">
                @foreach ( var auth in reader.Recordings.GroupBy( x => x.Author ).OrderByDescending( x => x.Count() ) ) {
                    <div>
                        <a href="#" class="author" data-value="@auth.Key">@(auth.Key ?? "Неизвестен") - @auth.Count() записа</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function (arg) {
            return function (elem) {
                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
            };
        });
        var $list = $("ul");
        var $trigger = $("#searchTrigger");
        var $cleaner = $("#searchCleaner");
        var $search = $("#search");
        $search.on("keypress", function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                makeSelection($search.val());
            }
        });
        $trigger.on("click", function () {
            makeSelection($search.val());
        });
        $cleaner.on("click", function () {
            $(".panel").show();
            $("#count").html('');
            $cleaner.hide();
        });
        function makeSelection(string) {
            if (string) {
                $(".panel").hide();
                $(".panel:Contains(" + string + ")").show();
                $("#count").html($(".panel:visible").length + " Намерени записа за '" + string + "'");
                $search.val('');
                $cleaner.show();
            }
        }
        $(".author").on("click", function () {
            makeSelection($(this).data('value'));
        });

    </script>
</body>
</html>



